body {
  margin: 0;
  background-color: #fff;
  color: #333;
  font-size: 15px;
  font-family: Mulish,sans-serif;
  letter-spacing: .75px;
  line-height: 2.8rem;
  -webkit-font-smoothing: subpixel-antialiased
}
h1, h2, h3, h4, h5, h6 {
  /*font-family: 'cormorant garamond', Didot, serif;*/
  font-weight: 400;
  line-height: 1.25;
  margin: 0 0 20px;
  color: #404963;
}
.hero {
  text-align: center;
  margin-top: 120px
}
input:focus, textarea:focus {
  border: none;
  outline: none;
}
.search-bar-container {
  max-width: 712px;
  margin: 0 auto;
  margin-top: 50px;
  width: 95%;
}
.grid-item-card {
  /*height: 580px;*/
  /*margin-bottom: 32px;*/
}
.grid-item-card img {
  max-height: 400px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.recipe-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 20px;
}
.grid-items {
  padding: 20px;
}
.list-items {
  margin-top: 100px;
}
.grid-items .entry-header {
  width: 100%;
  border-left: 1px solid #eeeae8;
  border-right: 1px solid #eeeae8;
  border-bottom: 1px solid #eeeae8;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-top: 25px;
  margin-top: -20px;
}
.grid-items .entry-meta {
  text-align: center;
  margin-bottom: -8px;
  color: #404963;
  font-size: 11px;
  display: block;
}
.summary-item-wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 10px;
  margin: 20px -40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.recipe-summary-item {
  color: #4a4a4a;
  flex: 1;
  text-align: center;
  height: 70px;
}
.recipe-summary-item .value {
  color: #4a4a4a;
  display: inline-block;
}
.recipe-summary-item .unit {
  position: relative;
  top: -22px;
  display: block;
}
.recipe-summary-item.right-border {
  border-right: 1px solid #bababa;
}
.recipe-detail-top {
  margin-bottom: 30px;
}
.recipe-detail-bottom {
  padding: 15px;
}
.ingredients ol {
  counter-reset: orderedlist;
  /*margin-left: 10px;*/
}
.ingredients ul li {
  margin-left: 10px;
  font-size: 18px;
  list-style: circle;
}
.ingredients ol li span {
  /*margin-left: 20px;*/
}
.instructions {
  margin-top: 30px;
  font-size: 16px;
}
.ingredients ol li::before {
  counter-increment: orderedlist;
  content: counter(orderedlist);
  padding: 10px;
  font-size: 14px;
  line-height: 0.75;
  padding-top: 0.25rem;
  text-align: center;
  color: #fff;
  background-color: purple;
  border-radius: 0.25em;
}

.primary-thumbnail img {
  border-radius: 15px;
}
.h2-text {
  font-size: 40px;
  line-height: 1.2;
}

.entry-header p.entry-meta {
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  line-height: 2;
  text-transform: uppercase;
}
.list-item-card {
  margin: 0 auto;
  margin-bottom: 60px;
  /*border: 1px solid #ececec;*/
  /*border-radius: 15px;*/
}
.list-item-card.center {
  text-align: center;
}
.list-item-card p {
  font-size: 18px;
}
.list-item-card img {
  /*max-width: 400px;*/
  width: 100%;
  border-radius: 15px;
}
.search-content-preview {
  display: inline-flex;
  margin-top: 3rem;
  border: 1px solid #e8e8e8;
  border-radius: 15px;
  padding: 20px;

}
.grid-items .entry-title {
  font-size: 26px;
  line-height: 1.3;
  margin-bottom: 15px;
  padding: 15px 10px;
  text-align: center!important;
  display: block;
}
.grid-item-card a {
  text-decoration: none;
  color: black;
}
.grid-item-card a:focus, .grid-item-card a:hover {
  text-decoration: none;
  color: #dcb781;
}
.top-recipes {
  margin-bottom: 10rem;
}
.top-recipes-title {
  padding-top: 60px;
  text-align: center;
  text-transform: uppercase;
}
.top-recipes-view-all {
  width: 100%;
  text-align: center;
  margin: 30px auto 0;
}
.list-view-read-more {
  margin: 0 auto;
  text-align: center;
}
.view-all-button, .read-more-button {
  background: #e7bfac;
  padding: 2px 0px;
  font-size: 12px;
  text-transform: uppercase !important;
  color: #525252;
  width: 120px;
  margin-bottom: 40px;
}

.view-all-button:hover, .read-more-button:hover {
  background: #ce9d86;
}
.recipe-detail {
  margin-top: 6rem;
  max-width: 870px;
}
.recipe-detail .title {
  padding-top: 20px;
}
.recipe-detail .description p, .summary p {
  line-height: 2;
  font-size: 18px;
}
.recipe-detail .ingredients {
  padding-top: 40px;
  padding-bottom: 20px;
}
footer {
  background-color: #fdfafa;
  display: inline-flex;
  width: 100%;
  text-transform: uppercase;
  font-size: 10.5px;
  letter-spacing: 2px;
  padding: 28px 0 25px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 1.5;
}
header .container-fluid {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}
header {
  display: inline-flex;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
}
.navbar-toggler {
  margin-right: 20px;
}
.footer-left, .header-left {
  width: 50%;
  text-align: left;
}
.footer-right, .header-right {
  width: 50%;
  text-align: right;
  margin: 0;
  display: block;
}
.right-nav p {
  text-transform: uppercase;
  font-size: 14px;
}

.footer-right p {
  font-size: 14px;
}

footer a, .header a {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 14px;
}
a {
  text-decoration: none !important;
  color: #4f4f4f;
}
a:hover {
  color: #dcb781;
}
header {
  width: 100%;
}
.search-progress {
  justify-content: center;
  display: grid;
  margin-top: 5vh;
  width: 100%;
}
.search-progress .text, .search-progress .progress-box {
  text-align: center;
  margin: 0 auto;
}
.search-progress .text span {
  font-size: 14px;
}
.search-bar-container p {
  text-align: center;
  width: 100%;
  font-size: 14px;
  padding-top: 30px;
}
.search-bar-container .error {
  color: red;
}
.search-bar-container .success {
  color: green;
}